.App {
  text-align: center;
  background-color: #e7f4ff;
  height: 1000px;
}

.Smurf {
  background-color: #88ccff;
  border-radius: 1rem; 
  width: 20rem;
  margin: 1rem auto;
  padding: 0.5rem;
  box-shadow: 10px 10px 10px grey;
  color: #283d4c;
}
